<section class="section gallery" id="gallery" aria-label="photo gallery">
  <div class="container">
    <div class="title-wrapper">
      <div>
        <h2 class="h2 section-title">Galeria</h2>

        <p class="section-text">
          Sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
          labore dolore magna aliqua suspendisse
        </p>
      </div>
    </div>

    <ul class="grid-list">
      <li>
        <div class="gallery-card">
          <figure
            class="card-banner img-holder"
            style="--width: 422; --height: 550"
          >
            <img
              src="../../../assets/EXIT-FABRICS_2020_320-PORTADA-2048x1365.jpg"
              width="422"
              height="550"
              loading="lazy"
              alt="Hair Cutting"
              class="img-cover"
            />
          </figure>

          <div class="card-content">
            <h3 class="h3 card-title">Lorem, ipsum.</h3>

            <p class="card-text">Lorem, ipsum dolor.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="gallery-card">
          <figure
            class="card-banner img-holder"
            style="--width: 422; --height: 550"
          >
            <img
              src="../../../assets/galeria3.jpg"
              width="422"
              height="550"
              loading="lazy"
              alt="Hair Cutting"
              class="img-cover"
            />
          </figure>

          <div class="card-content">
            <h3 class="h3 card-title">Lorem, ipsum.
            </h3>

            <p class="card-text">Lorem, ipsum dolor.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="gallery-card">
          <figure
            class="card-banner img-holder"
            style="--width: 422; --height: 550"
          >
            <img
              src="../../../assets/galeria2.jpg"
              width="422"
              height="550"
              loading="lazy"
              alt="Hair Cutting"
              class="img-cover"
            />
          </figure>

          <div class="card-content">
            <h3 class="h3 card-title">Lorem, ipsum.</h3>

            <p class="card-text">Lorem, ipsum dolor.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="gallery-card">
          <figure
            class="card-banner img-holder"
            style="--width: 422; --height: 550"
          >
            <img
              src="../../../assets/galeria4.jpg"
              width="422"
              height="550"
              loading="lazy"
              alt="Hair Cutting"
              class="img-cover"
            />
          </figure>

          <div class="card-content">
            <h3 class="h3 card-title">Lorem, ipsum.</h3>

            <p class="card-text">Lorem, ipsum dolor.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
