<section class="section gallery" id="gallery" aria-label="photo gallery">
  <div class="container">
    <div class="title-wrapper">
      <div>
        <h2 class="h2 section-title">Nuestra fábrica</h2>

        <p class="section-text">
          Contamos con la mejor tecnología y maquinaria para poder garantizar
          los mejores resultados en cada uno de nuestros procesos de
          fabricación. Además, recibimos auditorías internacionales
          frecuentemente, lo cual nos exige cada día a mejorar.
        </p>
      </div>
    </div>

    <ul class="grid-list">
      <li *ngFor="let image of images">
        <div class="gallery-card">
          <figure class="card-banner img-holder">
            <img
              [src]="image.src"
              [alt]="image.alt"
              loading="lazy"
              class="img-cover"
            />
          </figure>

          <div class="card-content">
            <!-- Contenido opcional -->
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
