<section class="section service" id="services" aria-label="services">
  <div class="container">
    <h2 class="h2 section-title text-center">Quiénes somos</h2>

    <p class="section-text text-center">
      Somos fabricantes de indumentaria en tejidos de punto desde hace más de 20
      años. Con mucho esfuerzo y dedicación fuimos incorporando cada una de las
      diferentes partes del proceso de fabricación y especializándonos en ello.
      Desde el corte y el estampado hasta el bordado, el transfer, la
      confección, el planchado y el empaquetado de las mismas. Ya sean para uso
      de tiempo libre o deportivo. Tanto para niños, damas y hombres.
    </p>

    <p class="section-text text-center">
      Tenemos nuestra marca propia: Saint. Pero además confían en nosotros desde
      hace ya muchos años marcas multinacionales como Puma , Converse, Le Coq
      Sportif, Vans y New Balance.
    </p>

    <ul class="grid-list">
      <li>
        <div class="service-card">
          <div class="card-icon">
            <i class="flaticon-salon"></i>
          </div>

          <h3 class="h3">
            <a href="#" class="card-title">Corte</a>
          </h3>

          <p class="card-text">
            Sit amet consectetur adipisci elit sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>


        </div>
      </li>

      <li>
        <div class="service-card">
          <div class="card-icon">
            <i class="flaticon-shampoo"></i>
          </div>

          <h3 class="h3">
            <a href="#" class="card-title">Estampado</a>
          </h3>

          <p class="card-text">
            Sit amet consectetur adipisci elit sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>


        </div>
      </li>

      <li>
        <div class="service-card">
          <div class="card-icon">
            <i class="flaticon-hot-stone"></i>
          </div>

          <h3 class="h3">
            <a href="#" class="card-title">Bordado</a>
          </h3>

          <p class="card-text">
            Sit amet consectetur adipisci elit sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>


        </div>
      </li>

      <li>
        <div class="service-card">
          <div class="card-icon">
            <i class="flaticon-treatment"></i>
          </div>

          <h3 class="h3">
            <a href="#" class="card-title">Confección</a>
          </h3>

          <p class="card-text">
            Sit amet consectetur adipisci elit sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>


        </div>
      </li>

      <li>
        <div class="service-card">
          <div class="card-icon">
            <i class="flaticon-shaving-razor"></i>
          </div>

          <h3 class="h3">
            <a href="#" class="card-title">Transfer</a>
          </h3>

          <p class="card-text">
            Sit amet consectetur adipisci elit sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>


        </div>
      </li>

      <li>
        <div class="service-card">
          <div class="card-icon">
            <i class="flaticon-hair-dye"></i>
          </div>

          <h3 class="h3">
            <a href="#" class="card-title">planchado </a>
          </h3>

          <p class="card-text">
            Sit amet consectetur adipisci elit sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>


        </div>
      </li>

      <li>
        <div class="service-card">
          <div class="card-icon">
            <i class="flaticon-hair-dye"></i>
          </div>

          <h3 class="h3">
            <a href="#" class="card-title">Empaquetado </a>
          </h3>

          <p class="card-text">
            Sit amet consectetur adipisci elit sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
          </p>

        </div>
      </li>
    </ul>
  </div>
</section>
