<footer
  class="footer has-bg-image"
  style="background-image: url('./assets/images/footer-bg.png')"
>
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <a href="#" class="logo">
          JDTEX
          <span class="span">fabricantes de indumentaria</span>
        </a>
      </div>

      <div class="footer-link-box">
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Contact Us</p>
          </li>

          <li class="footer-list-item">
            <!-- <ion-icon name="location-outline" aria-hidden="true"></ion-icon> -->

            <address class="contact-link">
              Iribarne 960 , Luján. Provincia de Buenos Aires. CP: 6700
            </address>
          </li>

          <li class="footer-list-item" style="flex-direction: column;">
            <!--  <ion-icon name="call-outline" aria-hidden="true"></ion-icon> -->

            <a href="tel:+0054-2323-420651" class="contact-link"
              >Teléfono fábrica: 0054-2323-420651</a
            >
            <a href="tel:+0054-2323-420651" class="contact-link"
              >Teléfono celular: 0054-911-52485664</a
            >
          </li>

          <li class="footer-list-item">
            <!--  <ion-icon name="time-outline" aria-hidden="true"></ion-icon> -->

            <a href="jdtex_admin@yahoo.com.ar" class="contact-link"
              >Correo electrónico: jdtex_admin&#64;yahoo.com.ar
            </a>
          </li>

          <li class="footer-list-item">
            <!-- <ion-icon name="mail-outline" aria-hidden="true"></ion-icon> -->

            <!-- <a href="mailto:support@gmail.com" class="contact-link">support@gmail.com</a> -->
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2024 <a href="#" class="copyright-link">www.globalmkt.com.ar</a>. All Rights
        Reserved.
      </p>
    </div>
  </div>
</footer>
