<header class="header" #header>
  <div class="header-top">
    <div class="container">
      <ul class="header-top-list">
        <li class="header-top-item">
          <fa-icon [icon]="phone" aria-hidden="true"></fa-icon>
          <p class="item-title">Llamanos :</p>
          <a href="tel:01234567895" class="item-link">012 (345) 67 895</a>
        </li>
        <li class="header-top-item">
          <fa-icon [icon]="clock" aria-hidden="true"></fa-icon>
          <p class="item-title">Horarios :</p>
          <p class="item-text">Lunes - Viernes, 08 am - 09 pm</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-bottom" data-header>
    <div class="container">
      <img src="../../../assets/jdtexlogo.png" width="150" height="150" alt="">
   <!--    <a href="#" class="logo">Jdtex <span class="span">Fábrica textil</span></a> -->
      <nav class="navbar container" data-navbar>
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>
          <li class="navbar-item">
            <a href="#services" class="navbar-link" data-nav-link>Quiénes somos</a>
          </li>
          <li class="navbar-item">
            <a href="#gallery" class="navbar-link" data-nav-link>Nuestra fábrica</a>
          </li>
          <li class="navbar-item">
            <a href="#appointment" class="navbar-link" data-nav-link>Nuestros Clientes</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>Contacto</a>
          </li>
        </ul>
      </nav>
      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <fa-icon [icon]="menu" aria-hidden="true"></fa-icon>
      </button>
      <a href="#" class="btn has-before">
        <span class="span">Envianos Un Mensaje</span>
        <fa-icon [icon]="mail" aria-hidden="true"></fa-icon>
      </a>
    </div>
  </div>
</header>
<button class="back-top-btn" aria-label="Back to top" data-back-top-btn #backTopBtn></button>
