<section class="section hero has-before has-bg-image" id="home" aria-label="home"
style="background-image: url('../../../assets/EXIT-FABRICS_2020_320-PORTADA-2048x1365.jpg')">
<div class="container">

  <h1 class="h1 hero-title colorde">JDTEX <br>Fábrica Textil</h1>

  <p class="hero-text">
    Sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    suspendisse
    ultrices gravida
  </p>

  <a href="#" class="btn has-before">
    <span class="span">Explore Our Services</span>

   <!--  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon> -->
   <fa-icon [icon]="arrow" aria-hidden="true"></fa-icon>
  </a>

</div>
</section>
