<section
  class="section hero has-before has-bg-image"
  id="home"
  aria-label="home"
  style="
    background-image: url('../../../assets/jdtex1.png');
  "
>
  <div class="container">
    <h1 class="h1 hero-title colorde">
      JDTEX <br />SOMOS FABRICANTES DE INDUMENTARIA
    </h1>

    <p class="hero-text">
      Desde hace más de 20 años que trabajamos para marcas multinacionales y
      locales con gran esfuerzo y dedicación
    </p>

    <a href="#gallery" class="btn has-before">
      <span class="span">Conocé nuestra fábrica</span>

      <!--  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon> -->
      <fa-icon [icon]="arrow" aria-hidden="true"></fa-icon>
    </a>
  </div>
</section>
