<section class="section appoin" id="appointment" aria-label="appointment">
  <div class="container">
    <div class="appoin-card">
      <div class="card-content">
        <h2 class="h2 section-title">Contacto</h2>

        <p class="section-text">
          Déjanos tus datos y nos comunicaremos contigo a la brevedad. ¡Muchas
          gracias!
        </p>

        <form
          [formGroup]="contactForm"
          (ngSubmit)="sendEmail($event)"
          action=""
          class="appoin-form"
        >
          <div class="input-wrapper">
            <input
              type="text"
              formControlName="firstName"
              placeholder="Nombre y Apellido"
              class="input-field"
            />
            <!-- Mensaje de error -->
            <div *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched" class="error">
              El nombre es requerido.
            </div>

            <input
              type="email"
              formControlName="email"
              placeholder="Email"
              class="input-field"
            />
            <!-- Mensaje de error -->
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error">
              Introduzca un email válido.
            </div>
          </div>

          <div class="input-wrapper">
            <input
              type="text"
              formControlName="phone"
              placeholder="Teléfono"
              class="input-field"
            />
            <!-- Mensaje de error -->
            <div *ngIf="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched" class="error">
              El teléfono es requerido.
            </div>
          </div>

          <textarea
            formControlName="message"
            placeholder="Mensaje"
            class="input-field"
          ></textarea>
          <!-- Mensaje de error -->
          <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error">
            El mensaje es requerido.
          </div>

          <button type="submit" class="form-btn" [disabled]="contactForm.invalid">
            <span class="span">Enviar</span>
          </button>
        </form>

        <!-- Mensaje de éxito al enviar -->
        <div *ngIf="emailSent" class="success-message">
          ¡Tu mensaje ha sido enviado con éxito!
        </div>
      </div>
    </div>
  </div>
</section>
