<section class="section appoin" id="appointment" aria-label="appointment">
  <div class="container">
    <div class="appoin-card">
      <div class="card-content">
        <h2 class="h2 section-title">Contacto</h2>

        <p class="section-text">
          Déjanos tus datos y nos comunicaremos contigo a la brevedad. ¡Muchas
          gracias!
        </p>

        <form [formGroup]="contactForm" (ngSubmit)="sendEmail($event)" class="appoin-form">
          <div class="input-wrapper">
            <input
              type="text"
              formControlName="firstName"
              [placeholder]="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched ? 'Nombre y Apellido es obligatorio' : 'Nombre y Apellido'"
              [ngClass]="{'error-placeholder': contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched}"
              class="input-field"
              required
            />
          </div>

          <div class="input-wrapper">
            <input
              type="email"
              formControlName="email"
              [placeholder]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched ? 'Email es obligatorio y debe tener un formato válido' : 'Email'"
              [ngClass]="{'error-placeholder': contactForm.get('email')?.invalid && contactForm.get('email')?.touched}"
              class="input-field"
              required
            />
          </div>

          <div class="input-wrapper">
            <input
              type="text"
              formControlName="phone"
              [placeholder]="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched ? 'Teléfono es obligatorio y solo debe contener números' : 'Teléfono'"
              [ngClass]="{'error-placeholder': contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched}"
              class="input-field"
              inputmode="numeric"
              (keypress)="onlyNumbers($event)"
              required
            />
          </div>

          <textarea
            formControlName="message"
            [placeholder]="contactForm.get('message')?.invalid && contactForm.get('message')?.touched ? 'Mensaje es obligatorio' : 'Mensaje'"
            [ngClass]="{'error-placeholder': contactForm.get('message')?.invalid && contactForm.get('message')?.touched}"
            class="input-field"
            required
          ></textarea>

          <button type="submit" class="form-btn" [disabled]="!contactForm.valid">
            <span class="span">Enviar</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div *ngIf="isEmailSent !== null" class="modal">
  <div class="modal-content">
    <h2>{{ isEmailSent ? 'Correo enviado' : 'Error en el envío' }}</h2>
    <p>
      {{ isEmailSent ? 'Tu mensaje ha sido enviado exitosamente.' : 'Hubo un error al enviar el mensaje. Por favor, intenta de nuevo.' }}
    </p>
    <button (click)="closeModal()">Cerrar</button>
  </div>
  </div>
</section>
