<section class="section appoin" id="appointment" aria-label="appointment">
  <div class="container">

    <div class="appoin-card">

      <div class="card-content">

        <h2 class="h2 section-title">Contacto</h2>

        <p class="section-text">
          Sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore dolore magna aliqua
          suspendisse
        </p>

        <form action="" class="appoin-form">

          <div class="input-wrapper">
            <input type="text" name="name" placeholder="Nombre y Apellido" required class="input-field">

            <input type="email" name="email_address" placeholder="Email" required class="input-field">
          </div>

          <div class="input-wrapper">
            <input type="text" name="phone" placeholder="Teléfono" required class="input-field">

          </div>

          <!-- <input type="date" name="date" required class="input-field date"> -->

          <textarea name="message" placeholder="Mensaje" required class="input-field"></textarea>

          <button type="submit" class="form-btn">
            <span class="span">Appointment Now</span>

           <!--  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon> -->
          </button>

        </form>

      </div>


    </div>

  </div>
</section>

